

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.steam-signin {
	margin-top: 7px;
}

.brand {
	padding-right: 3px !important;
	padding-top: 3px !important;
	padding-bottom: 2px !important;
}