

/* ==========================================================================
	 Author's custom styles
	 ========================================================================== */

a {
	color: #19A601;
}

a:hover {
	color: #2AE208;
}




.steam-signin {
	margin-top: 7px;
}

.brand {
	padding-right: 3px !important;
	padding-top: 3px !important;
	padding-bottom: 2px !important;
}


/* dropdown styles */
.dropdown {
	list-style: none;
}

.dropdown a {
	color: #999;
}

.navbar .dropdown-menu:after {
	display: none !important;
}

ul.dropdown-menu {
	background-color: #111;
	margin-top: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.dropdown-menu li > a {
	color: #999; /* make unhighlighted links easier to see */
}

.user-menu {
	padding: 4px !important; /* fix size of user menu due to avatar size */
}

.user-menu .caret {
	margin-top: 14px !important; /* fix caret position for user menu */
}

.collapse a:hover,
.collapse a:focus, {
	color: #fff !important;
}


/* dropdown menu link fading */
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
	color: #fff !important;
	text-decoration: none;
	background-color: #21C404;
	background-image: -moz-linear-gradient(top, #2AE208, #19A601);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2AE208), to(#19A601));
	background-image: -webkit-linear-gradient(top, #2AE208, #19A601);
	background-image: -o-linear-gradient(top, #2AE208, #19A601);
	background-image: linear-gradient(to bottom, #2AE208, #19A601);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2AE208', endColorstr='#ff19A601', GradientType=0);
}


input {
	color: #fff !important;
	background-color: #000  !important;
}



.pagination li a {
	background-color: black !important;
	border: 1px solid #444 !important;
}


/* User Profile */
.profile_header {
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #222;
}
.profile_avatar {
	vertical-align: bottom;
}

.profile_username {
	font-size: 200%;
}

ul.profile_tools {
	text-align: right;
	position: absolute;
	bottom: 0px;
	right: 0px;
	list-style: none;
}


/* games page */
.game_user_count {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 170%;
}

.game_name {
	padding-right: 20px;
}











/* event timetable page */

.timetableTableContainer {
	width: 750px; /* determines width of timetable bg/guides */
	position: relative;
}

.timetableTable {
	width: 100%;
	min-width: 750px; /* should be set to width of .timetableTableContainer */
}

#timetableLabel {
	width: 54px;
}

.hourCell {
	width: 15px;
	height: 87px; /* 4x(.minCell height+padding+border)-1     currently 4x(17+2+2+1)-1 -> 4x(22)-1 */ 
	float: left;
	text-align: right;
	padding-left: 7px;
}

.hourCell p {
	font-size: 1em;
	padding: 2px 0 0 0;
	margin: 0;
}

.minCell {
	height: 18px;
	padding: 2px 0 2px 0;
	border-bottom: none;
	border-right: 1px solid #000; /* separate label and events */
}

.timetableGuide {
	height: 18px;
	padding: 2px 0 2px 0;
}

.rowA {
	background-color: #333;
}

.rowALabel {
	background-color: #444;
}

.eventContainer {
	position: absolute;
	top: 0px;
	left: 44px; /* set to width of #timetableLabel */
	min-width: 702px; /* determines width of events */
}

.event {
	position: absolute;
	width: 680px; /* set to (.timetableTableContainer width - self padding - #timetableLabel) */
	left: 57px;
	padding: 16px 4px 2px 4px;
	font-size: 11px;
	font-weight: normal;
	color: #fff;
	overflow: auto;
	letter-spacing: -.5px;
	line-height: 12px;
	border: 1px solid #2AE208;
	background-color: #178301;
}

.eventHeader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 14px;
	font-weight: bold;
	background: #19A601;
}